thead {
  background-color: rgb(179, 176, 176);
}


span {
  float: right;
  padding-right: 20px;
  font-size: 30px;
}

p {
  margin-left: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container2 {
  display:flex;
}


.inputs {
  border: none;
  border-bottom: 1px solid #888888;
  border-radius: 2px;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.5);
  margin: -2px;
}
